body
{
    background-image: url("11.jpg");
    margin: 0;
    height: 110vh;
    /* background-repeat: no-repeat; */
    
}
header
{  
    /* border: 2px solid white; */
    padding: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;
}

.logoBox
{
    /* border: 2px solid red; */
    display: inline-block;
    width: 150px ;
    font-size: larger;
    font-weight: 600 ;
    cursor: pointer;
   

}


.navBox{
    /* border: 2px solid green; */
    display: inline-block;
    position: absolute;
    right: 20px;
    width: 600px;

}
.navBox>a
{
    color: white;
    margin: 20px;
    text-decoration: none;
    transition: all 0.5s;

}

.navBox>a:hover
{
    color: salmon;
}

#home
{
    color: salmon;
}

.heading
{
    color: salmon;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 2px solid white; */
    position: relative;
    width: 500px;
    top: 60px;
    left: 70px;
}

.heading+h3{
    color: white;
    /* border: 2px solid white; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    position: relative;
    /* top: 60px; */
    left: 90px;
    width: 600px;
}

.heading+h3+p{

    color: white;
    /* border : 2px solid white; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    position: relative;
    width: 400px;
    word-spacing: 4px;
    top : 20px;
    left: 80px;
}

.btn
{
    width: 120px ;
    padding: 13px;
    border: 2px solid salmon;
    background-color: salmon;
    color: black;
    font-family : 'Roboto';
    position: relative;
    top :20px;
    left: 80px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s;
    
}

.btn:hover
{
    background-color:transparent;
    color: salmon;
}

footer
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border: 2x solid white;
    position: fixed;
    bottom : 0;
    font-size: 10px;

}